<div class="container">
  <% @categories.each_slice(2) do |row| %>
    <div class="row">
      <% row.each do |category| %>
        <div class="span6">
          <h3><%=h category.name %></h3>
          <ul class="unstyled">
            <% category.articles[0..3].each do |article| %>
              <li>
                <a href="/<%= category.slug %>/<%= article.slug %>">
                  <%=h article.title %>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
