<!DOCTYPE html>
  <head>
    <title><%=h @_title || 'Minefold Help' %></title>
    <link href="/normalize.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/styles.css" media="all" rel="stylesheet" type="text/css" />
    <%= yield_content :head %>
  </head>
  <body>
    <header>
      <h1><a href="/">Minefold Help</a></h1>
    </header>

    <%= yield %>

    <footer>
      <p>
        This site is under construction and you can help us build it. The code is <a href="https://github.com/minefold/help">open-source</a> and we happily accept pull requests.
      </p>

    </footer>

  </body>
</html>
