body {
  font: 16px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1 {
  line-height: 60px;
  margin: 0;
}

header {
  background-color: #06c;
  margin-bottom: 20px;
}

header h1 a {
  color: #fff;
}
header h1 a:hover {
  text-decoration: none;
  color: #fff;
}

#st-search-input {
  font-size: 20px;
  height: 30px;
}

a {
  color: #06C;
  text-decoration: none;
}

p {
  margin: 0;
}
